/*===== Common Class =====*/

 

body {

	padding:0  !important ;

	margin: 0   !important;

	font-family: 'sansationregular';

}

html { 

	-webkit-font-smoothing: antialiased; 

}

img{

	padding: 0;

	margin: 0;

	border: 0;

}

*{

	padding: 0;

	margin: 0;

	outline: none;

	word-wrap: break-word;

}

h1, h2, h3, h4, h5, h6, p {

	padding: 0;

	margin: 0;

	font-weight: normal;

}

ul {

	padding: 0;

	margin: 0;

	list-style: none;

}

ul li {

	padding: 0;

	margin: 0;

	list-style: none;

}

a, a:hover {

	outline: none;

	text-decoration: none;

	-webkit-transition: all 0.5s ease-in-out;

	-moz-transition: all 0.5s ease-in-out;

	-ms-transition: all 0.5s ease-in-out;

	-o-transition: all 0.5s ease-in-out;

	transition: all 0.5s ease-in-out;

}

a:focus,select:focus{outline: none;}



a, input, button, textarea {

	outline: none !important;

}

:focus {

	outline: none;

}





/*===== Common Class =====*/

.float_none{

	float:none !important; 

}



.main_wapper{ 

	width:100%; 

	float:left;

	overflow:hidden;

}



/*=========================================*/

/* Bootstrap Class Overwrite */

/*=========================================*/

.navbar-toggle {

	border:0;

	margin:20px;

	padding:0;

	float:right;

	border-radius:0px;

}

.navbar-toggle:hover {

	background: none !important;

}

.navbar-toggle .icon-bar {

	height: 3px;

	background: #3bb6b1 !important;

}

.navbar-toggle:hover .icon-bar, 

.navbar-toggle:focus .icon-bar {

	background: #e83555 !important;

}

.navbar-toggle:focus {

	background: none !important;

}





@media (min-width: 768px) {

  .container {

    width: 750px;

  }

}

@media (min-width: 992px) {

  .container {

    width: 970px;

  }

}

@media (min-width: 1200px) {

  .container {

    width: 1170px;

  }

}

@media (min-width: 1370px) {

  .container {

    width: 1330px;

  }

}

/*=========================================*/

/* Main Header */

/*=========================================*/



#header{

	float:left;

	width:100%;

	position:relative;

}

.header_wapper{

	width:100%;

	float:left;

	padding:0;

	overflow:hidden;

	position:relative;

	z-index:100;

}

.logo

{

	width:auto;

	float:left;

	padding:2px 0 0 0;

}

.header_right

{

	width:1084px;

	float:right;

	padding:23px 0 0 0;

}

.header_top

{

	display:block;

	float:right;

	width:auto;

}

.header_top .top_nav

{

	width:auto;

	float:left;

	padding:14px 0 0 0px;

}



.header_top .top_nav ul

{

	width:auto;

	float:left;

}



.header_top .top_nav ul li

{

	width:auto;

	float:left;

	padding:0 14px;

}

.header_top .top_nav ul li a

{

	width:auto;

	float:left;

	font-family: 'calibribold';

	font-size:14px;

	color:rgba(41,39,39,0.8);

	text-transform:uppercase;

}

.header_top .top_nav ul li a:hover

{

	color:#0098cc;

}



.header_top .top_nav ul li a i{ padding-right:2px; display:inline-block; }

.h_social

{

	width:auto;

	float:right;

	padding:0px 0 0 5px;

}

.h_social a

{

	float:left;

	margin:0 0 0 13px;

}

.navigaction_block

{

	width:100%;

	min-height:65px;

	float:left;

	margin:31px 0 0 0;

	padding:0px;

	position:relative;

	background:url(../images/nav_bg.png)  repeat-y left top;

}

.navigaction_block:before

{

	width:10000px;

	height:65px;

	content:'';

	position:absolute;

	left:100%;

	top:0px;

	background:#3b3193;

}

.navigaction_block:after

{

	width:19px;

	height:65px;

	content:'';

	position:absolute;

	left:-19px;

	top:0px;

	background:url(../images/nav_bg_shape.png) no-repeat left top;

}

.navigaction_block .navi

{

	width:auto;

	float:left;

	padding:0px;

	margin:0px 0 0 18px;

}

.navigaction_block .navi ul

{

	width:auto;

	float:left;

	padding:0px;

	padding:0px;

}

.navigaction_block .navi ul li

{

	width:auto;

	float:left;

	padding:0px;

	padding:0px 29px;

}

.navigaction_block .navi ul li a

{

	width:auto;

	float:left;

	padding:0px;

	padding:17px 0 0 0px;

	font-family: 'museo_sans900';

	font-size:15px;

	text-transform:uppercase;

	color:#fff;

	border-top:rgba(206,94,45,0.0) solid 5px;

}

.navigaction_block .navi ul li a span

{

	margin-left:-22px;

	color:#67c0e0;

	float:left;

}

.navigaction_block .navi ul li.active a,

.navigaction_block .navi ul li a:hover

{

	border-top:rgba(206,94,45,1) solid 5px;

	

}



.search_block

{

	width:auto;

	float:right;

	 margin:12px 0 0 0;

}



.search_block_hidden

{

	width:562px;

	float:right;

	padding:0px;

	position:absolute;

	right:0px;

	top:100%;

	background:#fff;

	min-height:85px;

}

.search_block_hidden:before

{

	width:26px;

	height:85px;

	position:absolute;

	left:-26px;

	position:absolute;

	top:0px;

	background:url(../images/search_shape.png) no-repeat left top;

	content:'';

}

.search_block_hidden form

{

	width:100%;

	float:left;

	padding:22px 0 0 0px;

}

.search_block_hidden form input[type=submit]

{

	width:auto;

	float:left;

	border:0px;

	background:url(../images/search_icon2.png) no-repeat left top;

	height:44px;

	width:44px;

	margin:0 40px 0 35px;

}

.search_block_hidden form input[type=search]

{

	width:auto;

	float:left;

	padding:0px;

	border:0px;

	color:#a4a6a8;

	font-family: 'calibribold';

	font-size:30px;

	font-style:italic;

}

.search_block_hidden form input[type=search]::-moz-placeholder {

  color:#a4a6a8;

  opacity: 1;

}

.search_block_hidden form input[type=search]:-ms-input-placeholder {

 color:#a4a6a8;

}

.search_block_hidden form input[type=search]::-webkit-input-placeholder {

 color:#a4a6a8;

}

 

/*=========================================*/

/* Main Banner */

/*=========================================*/

.banner_wapper{

	float:left;

	width:100%;

	margin:-15px 0 0 0;

	position:relative;

	z-index:0;

}

.slider_image

{

	width:100%;

	float:left;

	padding:0px;

}



.slider_image img

{

	width:100%;

	float:left;

	padding:0px;

}





/*=========================================*/

/* Main Content */

/*=========================================*/

.contain_wapper

{

	width:100%;

	float:left;

	padding:0px;

}



.acces_slider

{

	width:100%;

	display:inline-block;

	float:left;

	margin:-46px 0 0 0;

}



.acces_block

{

	width:100%;

	display:inline-block;

	text-align:center;

}

.acces_block  .acces_block_image  

{

	width:135px;

	height:135px;

	border:rgba(255,255,255,0.5) solid 5px;

	border-radius:100%;

	-webkit-border-radius:100%;

	-o-border-radius:100%;

	-ms-border-radius:100%;

	-moz-border-radius:100%;

	display:inline-block;

	margin-top:20px;

}

.acces_block  .acces_block_image span

{

	width:125px;

	height:125px;

	display:inline-block;

	background:#549fd0;

	border-radius:100%;

	-webkit-border-radius:100%;

	-o-border-radius:100%;

	-ms-border-radius:100%;

	-moz-border-radius:100%;

	position:relative; 

}

.acces_block  .acces_block_image img

{

	max-width:100%;

	max-height:100%;

	position:absolute;

	left:50%;

	top:50%;

	transform:translate(-50%,-50%);

	-moz-transform:translate(-50%,-50%);

	-o-transform:translate(-50%,-50%);

	-webkit-transform:translate(-50%,-50%);

	width:auto;

	height:auto;

}

.acces_block .acces_title

{

	display:inline-block;

	width:100%;

	text-align:center;

	font-size:14px;

	color:#aaaaaa;

	padding:3px 0 0 0;

	font-family: 'museo_sans700';

}



.acces_slider .center .acces_block  .acces_block_image 

{

	height:160px;

	width:160px;

	margin-top:00px;

}

.acces_slider .center .acces_block  .acces_block_image span

{

	background:#1e64af;

	width:150px;

	height:150px;

	

}

.acces_slider .center .acces_block .acces_title

{

	color:#ce5e2d;

	font-size:18px;

}





.acces_slider .owl-nav .owl-prev

{

	font-size:0px;

	position:absolute;

	left:-28px;

	top:50%;

	height:28px;

	width:18px;

	margin:-14px 0 0 0;

	background:url(../images/left_arrow.png) no-repeat left top;

	background-size:18px auto;

}

.acces_slider .owl-nav .owl-next

{

	font-size:0px;

	position:absolute;

	right:-28px;

	top:50%;

	height:28px;

	width:18px;

	margin:-14px 0 0 0;

	background:url(../images/right_arrow.png) no-repeat left top;

	background-size:18px auto;

}









.sensation_wapper

{

	width:100%;

	display:inline-block;

	padding:48px 0 0 0;

}

.sensation_left

{

	width:100%;

	display:inline-block;

	position:relative;

	background-size: 100% auto;

	background-position:center top; 

	background-repeat:no-repeat;

	min-height:238px;

	overflow:hidden;

}

.sensation_textblock

{

	width:50%;

	float:left;

	/*background:rgba(255,255,255,0.8);*/

	height:238px;

	 position:relative;

}

.sensation_textblock:after

{

	position:absolute;

	left:0px;

	top:0px;

	content:'';

	height:100%;

	width:100%;

	z-index:9;

	border-top: 238px solid rgba(255,255,255,0.8); 

	border-right: 80px solid transparent;

}

.sensation_textblock_sub h2

{

	display:inline-block;

	width:100%;

	font-family: 'sansationbold';

	font-size:24px;

	color:#1e64af;

	text-transform:uppercase;

}

.sensation_textblock_sub

{

	width:100%;

	display:inline-block;

	position:relative;

	z-index:10;

	padding:26px 0 0 27px;

}

.sensation_textblock_sub h3

{

	width:100%;

	display:inline-block;

	font-size:25px;

	font-family: 'calibribold';

	color:#3a3939;

	padding:10px 0 0 0;

}

.sensation_textblock_sub p

{

	width:100%;

	display:inline-block;

	font-size:20px;

	font-family: 'calibribold';

	color:#3a3939;

}

.sensation_textblock_sub .sub_link

{

	width:auto;

	display:inline-block;

	padding:34px 0 0 0;

}



.sensation_textblock_sub .sub_link a

{

	width:auto;

	

	display:inline-block;

	color:#fff;

	font-size:16px;

	font-family: 'calibribold';

	position:relative;

	padding:12px 25px;

 

}

.sensation_textblock_sub .sub_link a span

{

	z-index:10;

	position:relative;

}

.sensation_textblock_sub .sub_link a:after

{

	width:100%;

	float:left;

	position:absolute;

	left:0px;

	top:0px;

	z-index:9;

	height:100%;

	-webkit-transform: skew(-15deg); 

   -moz-transform: skew(-15deg); 

   -o-transform: skew(-15deg);

   transform: skew(-15deg);

   content:'';

   background:#1e64af;

   

}

.sensation_textblock_sub .sub_link a:hover:after

{

	background:#1e8bff;

}

.club_box

{

	width:100%;

	display:inline-block;

	min-height:238px;

	padding:29px 32px 0 32px;

	background:url(../images/club_bg.png) no-repeat right top #1e64af;

}

.club_box h2

{

	display:inline-block;

	width:100%;

	font-size:28px;

	color:#fff;

	text-transform:uppercase;

	font-family: 'sansationbold';

}

.club_box p

{

	display:inline-block;

	width:100%;

	font-size:18px;

	color:#fff;

	font-family: 'calibriregular';

}





.club_box form

{

	width:100%;

	display:inline-block;

}

.main_club_box

{

	width:100%;

	padding:14px 0 0 0;

	display:inline-block;

}

.main_club_box .sub_div

{

	width:276px;

	display:inline-block;

	border:rgba(0,0,0,0.2) solid 3px;

}

.main_club_box  input[type=text],

.main_club_box  input[type=email]

{

	width:100%;

	display:inline-block;

	background:#fff;

	border:0px;

	color:#123c69;

	padding:15px 12px 13px;

}

.club_icon{ display:inline-block; padding:0 0 0 24px; }

.club_box .button_block

{

	width:auto;

	display:inline-block;

	position:relative;

	margin:11px 0 0 0;

}

.club_box  input[type=submit]

{

	display:inline-block;

	color:#fff;

	font-size:18px;

	border:0px;

	background:none;

	font-family: 'calibribold';

	position:relative;

	z-index:10;

	padding:11px 25px;

}

.club_box .button_block:after

{

	width:100%;

	float:left;

	position:absolute;

	left:0px;

	top:0px;

	z-index:9;

	height:100%;

	-webkit-transform: skew(-15deg); 

   -moz-transform: skew(-15deg); 

   -o-transform: skew(-15deg);

   transform: skew(-15deg);

   content:'';

   background:#123c69;

   

}

.club_box .button_block:hover:after

{

	background:#1e8bff;

}





.actus_wapper

{

	width:100%;

	padding:87px 0 0 0;

	display:inline-block;

}



.big_title

{

	display:inline-block;

	float:left;

	width:100%;

}

.big_title h2

{

	width:auto;

	float:left;

	font-size:40px;

	margin:3px 0 0 0;

	font-family: 'sansationbold';

	color:#549fd0;

	text-transform:uppercase;

	position:relative;

	padding:0 0 0 18px;

}

.big_title h2 span

{

	font-family: 'sansation_lightregular';

}

.big_title h2:before

{

	position:absolute;

	left:0px;

	top:5px;

	height:30px;

	width:5px;

	content:'';

	background:#ce5e2d;

}

.more_button

{

	width:auto;

	float:right;

}

.more_button a

{

	width:auto;

	float:left;

	position:relative;

	color:#fff;

	font-size:16px;

	font-family: 'calibribold';

	padding:12px 30px;

}

.more_button a .fa

{

	margin:3px 10px 0 0;

	color:#e29e81;

	padding:0px;

}

.more_button a:after

{

	width:100%;

	float:left;

	position:absolute;

	left:0px;

	top:0px;

	z-index:9;

	height:100%;

	-webkit-transform: skew(-15deg); 

   -moz-transform: skew(-15deg); 

   -o-transform: skew(-15deg);

   transform: skew(-15deg);

   content:'';

   background:#ce5e2d;

   

}

.more_button a:hover:after

{

	background:#af5026;

}

.more_button a span

{

	position:relative;

	z-index:10;

}





.actus_block_main

{

	width:100%;

	display:inline-block;

	padding:11px 0 62px 0;

}

.actus_block_main

{

	width:100%;

	display:inline-block;

}

.actus_block_desktop

{

	padding:10px 10px;

}

.actus_block_desktop  .actus_box

{

	width:100%;

	display:inline-block;

	float:left;

	position:relative;

	background:#f3f1f1;

	

}

.actus_box .actus_box_image

{

	width:60%;

	float:right;

	padding:0px;

	min-height:288px;

	background-size:cover;

	background-repeat:no-repeat;

	background-position:right top;

}

.actus_box_image img

{

	height:auto;

	width:100%;

	float:left;

	max-height:185px;

	

}

.actus_box .actus_box_Sub

{

	width:60%;

	float:left;

	margin-right:-20%;

	position:relative;

	padding:24px 60px 0 43px;

}

.actus_box .actus_box_Sub:after

{

	position:absolute;

	left:0px;

	top:0px;

	content:'';

	height:100%;

	width:100%;

	z-index:9;

	border-top: 288px solid #f3f1f1; 

	border-right: 80px solid transparent;

}

.actus_box_Sub .details_box

{

	width:100%;

	display:inline-block;

	position:relative;

	z-index:10;

}

.icon_row

{

	width:100%;

	display:inline-block;

	color:#549fd0;

	font-size:16px;

	font-family: 'calibriregular';

}

.icon_row img{ width:auto !important; display:inline-block !important;   height:auto; }



.actus_box_Sub .details_box h3

{

	width:100%;

	display:inline-block;

	color:#656565;

	font-size:22px;

	font-family: 'calibribold';

	padding:6px 0 0 0;

}

.actus_box_Sub .details_box p

{

	width:100%;

	display:inline-block;

	color:#9f9e9e;

	font-size:15px;

	font-family: 'calibribold';

	padding:9px 0 0 0;

	min-height:138px;

}



.plue_link

{

	width:auto;

	float:right;

	padding:0px 13px 0 0;

}



.plue_link a

{

	width:auto;

	float:left;

	position:relative;

	color:#fff;

	font-size:16px;

	font-family: 'calibribold';

	padding:12px 30px;

}

 

.plue_link a:after

{

	width:100%;

	float:left;

	position:absolute;

	left:0px;

	top:0px;

	z-index:9;

	height:100%;

	-webkit-transform: skew(-15deg); 

   -moz-transform: skew(-15deg); 

   -o-transform: skew(-15deg);

   transform: skew(-15deg);

   content:'';

   background:#549fd0;

   

}

.plue_link a:hover:after

{

	background:#216693;

}

.plue_link a span

{

	position:relative;

	z-index:10;

}

.actus_box_Sub .date

{

	position:absolute;

	right:-20px;

	top:24px;

	height:72px;

	width:72px;

	background:#ce5e2d;

	border-radius:100%;

	-moz-border-radius:100%;

	-webkit-border-radius:100%;

	-o-border-radius:100%;

	-ms-border-radius:100%;

	text-align:center;

	color:#fff;

	font-size:19px;

	font-family: 'calibribold';

	line-height:14px;

	padding:10px 0 0 0;

	z-index:10;

}

.actus_box_Sub .date span

{

	display:block;

	font-size:30px;

	line-height:30px;

}

.actus_box_second

{

	width:100%;

	display:inline-block;

	float:left;

	position:relative;

	background:#f3f1f1;

	min-height:288px;

	overflow:hidden;

	

}

.actus_box_second .actus_box_image

{

	width:100%;

	float:right;

	padding:0px;

	min-height:185px;

	background-size:cover;

	background-repeat:no-repeat;

	background-position:right top;

	position:relative;

	z-index:9;

}

.actus_box_second .actus_box_Sub

{

	width:100%;

	float:left;

	margin-right:0;

	position:relative;

	padding:0 25px;

	min-height:

}

.actus_box_second .actus_box_Sub:after

{

	position:absolute;

	left:0px;

	bottom:100%;

	content:'';

	/*height:100%;

	width:100%;

	z-index:9;

	border-top: 288px solid #f3f1f1; 

	border-right: 80px solid transparent;*/

	

	z-index:11;

	border-color: #f3f1f1 rgba(0, 0, 0, 0);

    border-style: solid;

    border-width: 0 0 30px 315px;

    height: 0;

    width: 0;

}

.actus_box_second .details_box

{

	width:100%;

	display:inline-block;

	position:relative;

	z-index:10;

	padding:10px 0 0 0;

	 

}

.actus_box_second .actus_box_Sub .date

{

	position:absolute;

	right:18px;

	top:-50px;

	height:54px;

	width:54px;

	background:#ce5e2d;

	border-radius:100%;

	-moz-border-radius:100%;

	-webkit-border-radius:100%;

	-o-border-radius:100%;

	-ms-border-radius:100%;

	text-align:center;

	color:#fff;

	font-size:13px;

	font-family: 'calibribold';

	line-height:14px;

	padding:8px 0 0 0;

	z-index:12;

}

.actus_box_second .actus_box_Sub .date span

{

	display:block;

	font-size:22px;

	line-height:22px;

}

 

.actus_box_second.third .actus_box_Sub::after

{

	border-color:#549fd0 rgba(0, 0, 0, 0);

}

.actus_box_second.third

{

	background:#549fd0;

}

.actus_box_second.third .icon_row

{

	color:rgba(0,0,0,0.7);

}

.actus_box_second.third .icon_row a

{

	color:rgba(0,0,0,0.7);

}

.actus_box_second.third h3

{

	color:#fff;

}







.ffck_tv_wapper

{

	width:100%;

	float:left;

	background:#1e64af;

	padding:55px 0 0 0;

}

.big_title i

{

	float:left;

	padding:0 25px 0 0;

	margin:-11px 0 0 0;

}

.ffck_tv_wapper .big_title h2{ color:#fff; }

.ffck_tv_wapper .big_title h2::before{ background:#549fd0; }





.ffck_tv_block

{

	width:100%;

	padding:29px 0 60px 0;

	display:inline-block;

}

.tv_block_main

{

	padding:0 25px;

}

.ffck_tv_block .row

{

	margin:0 -25px;

}

.tv_image

{

	width:100%;

	display:inline-block;

}

.tv_image img

{

	width:100%;

	display:inline-block;

}

.tv_block_main h2

{

	width:100%;

	display:inline-block;

	color:#fff;

	font-size:22px;

	font-family: 'calibribold';

	padding:10px 0 0 0;

}

.tv_block_main p

{

	width:100%;

	display:inline-block;

	color:rgba(0,0,0,0.5);

	font-size:16px;

	font-family: 'calibriregular';

	padding:4px 0 0 0;

}





.social_wapper

{

	width:100%;

	float:left;

	background:#f3f1f1;

	padding:64px 0 54px 0;

}

.social_wapper .big_title h2

{

	color:#8e8a8a;

}

.big_title .big_social

{

	width:auto;

	float:right;

}

.big_title .big_social a

{

	float:left;

	padding:0px;

	margin:0 0 0 14px;

}

.big_title .big_social p

{

	float:left;

	font-size:14px;

	color:#6f6f6e;

	font-family: 'calibriregular';

	padding:11px 0 0 0;

}

.social_wapper_block

{

	width:100%;

	display:inline-block;

	padding:20px 0 0 0;

}

.social_wapper_block .img

{

	width:100%;

	display:inline-block;

}

.social_wapper_block .img img

{

	width:100%;

	display:inline-block;

}









.evenements_wapper

{

	width:100%;

	padding:64px 0 74px 0;

	display:inline-block;

}

.evenements_wapper .big_title h2

{

	color:#1e64af;

}



.evenements_block

{

	width:100%;

	display:inline-block;

	padding:35px 0 0 0;

}

.desktop_slider

{

	width:100%;

	text-align:center;

	display:inline-block;

}

.evene_box

{

	width:273px;

	display:inline-block;

	text-align:left;

	background:#1e64af;

	margin-bottom:24px !important;

}

.evene_box_image

{

	width:100%;

	display:inline-block;

}

.evene_box_image img

{

	width:100%;

	display:inline-block;

}

.evene_box_sub

{

	width:100%;

	display:inline-block;

	position:relative;

	margin-top:-6px;

	padding:7px 26px 0;

	

}



.evene_box .evene_box_sub:after

{

	position:absolute;

	left:0px;

	bottom:100%;

	content:'';

	/*height:100%;

	width:100%;

	z-index:9;

	border-top: 288px solid #f3f1f1; 

	border-right: 80px solid transparent;*/

	

	z-index:11;

	border-color: #1e64af rgba(0, 0, 0, 0);

    border-style: solid;

    border-width: 0 0 30px 273px;

    height: 0;

    width: 0;

}

.evene_box_sub  .icon_row

{

	display:inline-block;

	width:100%;

	color:rgba(255,255,255,0.6);

	font-size:16px;

	font-family: 'calibriregular';

}

.evene_box_sub  .icon_row img

{

	width:auto;

	display:inline-block;

}

.evene_box_sub h3

{

	display:inline-block;

	width:100%;

	color:#fff;

	font-size:22px;

	font-family: 'calibribold';

	padding:7px 0 15px 0;

}

.evene_box_sub .address

{

	width:100%;

	display:inline-block;

	padding: 0 0 11px 0;

}

.evene_box_sub .address span

{

	width:37px;

	float:left;

	text-align:center;

	padding:0 12px 0 0;

	margin:0 0 0 12px;

}

.evene_box_sub .address span img

{

	width:auto;

	display:inline-block;

}

.evene_box_sub .address p

{

	display:block;

	padding:0 0 0 38px;

	color:rgba(255,255,255,0.6);

	font-size:16px;

	font-family: 'calibriregular';

}

.read_more

{

	width:100%;

	display:inline-block;

	text-align:center;

	float:left;

	margin-top:35px;

	margin-bottom:-24px !important;

}

.read_more a

{

	width:auto;

	

	display:inline-block;

	color:#fff;

	font-size:16px;

	font-family: 'calibribold';

	position:relative;

	padding:12px 25px;

 

}

.read_more a  span

{

	z-index:10;

	position:relative;

}

.read_more a:after

{

	width:100%;

	float:left;

	position:absolute;

	left:0px;

	top:0px;

	z-index:9;

	height:100%;

	-webkit-transform: skew(-15deg); 

   -moz-transform: skew(-15deg); 

   -o-transform: skew(-15deg);

   transform: skew(-15deg);

   content:'';

   background:#549fd0;

   

}

.read_more a:hover:after

{

	background:#1e8bff;

}



.evene_box_sub .date

{

	position:absolute;

	right:20px;

	top:-65px;

	height:72px;

	width:72px;

	background:#ce5e2d;

	border-radius:100%;

	-moz-border-radius:100%;

	-webkit-border-radius:100%;

	-o-border-radius:100%;

	-ms-border-radius:100%;

	text-align:center;

	color:#fff;

	font-size:19px;

	font-family: 'calibribold';

	line-height:14px;

	padding:10px 0 0 0;

	z-index:15;

}

.evene_box_sub .date span

{

	display:block;

	font-size:30px;

	line-height:30px;

}

.evenements_block .desktop_slider .owl-nav .owl-prev

{

	font-size:0px;

	position:absolute;

	left:-37px;

	top:50%;

	height:54px;

	width:37px;

	margin:-27px 0 0 0;

	background:url(../images/left_arrow.png) no-repeat left top;

	background-size:37px auto;

}

.evenements_block .desktop_slider .owl-nav .owl-next

{

	font-size:0px;

	position:absolute;

	right:-37px;

	top:50%;

	height:54px;

	width:37px;

	margin:-27px 0 0 0;

	background:url(../images/right_arrow.png) no-repeat left top;

	background-size:37px auto;

}



/*=========================================*/

/* Main Footer */

/*=========================================*/



#footer {

	float:left;

	width:100%;

	min-height:870px;

	position:relative;

	overflow:hidden;

	padding-top:0;

	

}



.back-to-top

{

	width:auto;

	position:absolute;

	right:-20px;

	top:-32px;

}

.back-to-top a

{

	position:relative;

	float:left; 

	display:inline-block;

	color:#fff;

	font-size:16px;

	font-family: 'calibribold';

	position:relative;

	padding:12px 60px 12px 32px;

	text-transform:uppercase;

}

.back-to-top a  span

{

	z-index:10;

	position:relative;

}

.back-to-top a:after

{

	width:100%;

	float:left;

	position:absolute;

	left:0px;

	top:0px;

	z-index:9;

	height:100%;

	-webkit-transform: skew(-15deg); 

   -moz-transform: skew(-15deg); 

   -o-transform: skew(-15deg);

   transform: skew(-15deg);

   content:'';

   background:#549fd0;

   

}

.back-to-top a:hover:after

{

	background:#0b5687;

}

.back-to-top a span .fa

{

	padding:0 10px 0 0;

	color:#bbd9ec;

}

#footer .image_1 {

	content:"";

	position:absolute;

	left:0;

	top:265px;

	right:0;

	min-height:318px;

	transform: skew(0deg, 4deg) ;

    -webkit-transform: skew(0deg, 4deg) ;

    -moz-transform: skew(0deg, 4deg) ;

    -o-transform: skew(0deg, 4deg) ;

    -ms-transform: skew(0deg, 4deg) ;

	overflow:hidden;

}

.logo_wapper

{

	width:100%;

	display:inline-block;

	background:#f3f1f1;

	min-height:0;

	padding:43px 0 30px 0;

	position:relative;

	margin:32px 0 0 0;

}

.logo_wapper_sub

{

	width:100%;

	display:inline-block;

	padding-bottom:50px;

}

.logo_div

{

	width:auto;

	float:left;

	position:relative;

	padding:0 59px 0 0;

}

.logo_div:after

{

	position:absolute;

	 right:0px;

	 top:25px;

	 background:#aaa8a8;

	 height:91px;

	 content:'';

	 width:1px;

}

.logo_slider

{

	width:1020px;

	float:left;

	margin:12px 0 0 50px;

}

#footer .image_1 img {

	position:absolute;

	left:0;

	top:-50px;

	height:auto;

	margin-top:0;

	transform: skew(0deg, -2deg) ;

    -webkit-transform: skew(0deg, -2deg) ;

    -moz-transform: skew(0deg, -2deg) ;

    -o-transform: skew(0deg, -2deg) ;

    -ms-transform: skew(0deg, -2deg) ;

}

.footer_wapper {

	width:100%; 

	float:left;

	padding:0;

	position:relative;

	z-index:2;

}



#footer .f_bg {

	position:absolute;

	left:0;

	top:280px;

	right:0;

	bottom:-350px;

    transform: skew(0deg, -6deg) ;

    -webkit-transform: skew(0deg, -6deg) ;

    -moz-transform: skew(0deg, -6deg) ;

    -o-transform: skew(0deg, -6deg) ;

    -ms-transform: skew(0deg, -6deg) ;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0099cc+0,3c3092+100 */

	background: #0099cc; /* Old browsers */

	background: -moz-linear-gradient(-45deg,  #0099cc 0%, #3c3092 100%); /* FF3.6-15 */

	background: -webkit-linear-gradient(-45deg,  #0099cc 0%,#3c3092 100%); /* Chrome10-25,Safari5.1-6 */

	background: linear-gradient(135deg,  #0099cc 0%,#3c3092 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0099cc', endColorstr='#3c3092',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */



}

#footer h3 {

	font-family: 'sansationbold';

	font-size:18px;

	color:#fff;

	text-transform:uppercase;

	/*font-weight:bold;*/

	line-height:22px;

	margin-top:30px;

	margin-right:10px;

}

#footer .footer_left {

	margin-top:134px;

}

#footer .footer_left ul {

	display:block;

	padding-top:10px;

}

#footer .footer_left ul li {

	display:block;

}

#footer .footer_left ul li a {

	font-family: 'calibribold';

	color:#fff;

	font-size:16px;

	line-height:24px;

	opacity:0.7;

}

#footer .footer_left ul li a:hover {

	opacity:1;

}

#footer .footer_right { margin-top:90px;}

#footer .footer_right .f_social { font-size:0;}

#footer .footer_right .f_social h3 {

	display:inline-block;

	vertical-align:top;

	margin:0 30px 0 0;

	line-height:42px;

}

#footer .footer_right .f_social ul {

	display:inline-block;

	vertical-align:top;

}

#footer .footer_right .f_social ul li {

	display:block;

	float:left;

	margin-right:10px;

}

#footer .footer_right .f_social ul li a {

	display:block;

	float:left;

	color:#acb4d3;

	font-family: 'calibribold';

	font-size:18px;

	line-height:42px;

	transition:all ease-in-out 0.3s;

	-webkit-transition:all ease-in-out 0.3s;

	-moz-transition:all ease-in-out 0.3s;

	-ms-transition:all ease-in-out 0.3s;

	-o-transition:all ease-in-out 0.3s;

}

#footer .footer_right .f_social ul li a span {

	display:block;

	float:left;

	width:42px;

	height:42px;

	background:#fff;

	border-radius:100%;

	line-height:42px;

	text-align:center;

	color:#235caa;

	font-size:24px;

	transition:all ease-in-out 0.3s;

	-webkit-transition:all ease-in-out 0.3s;

	-moz-transition:all ease-in-out 0.3s;

	-ms-transition:all ease-in-out 0.3s;

	-o-transition:all ease-in-out 0.3s;

}

#footer .footer_right .f_social ul li a:hover { color:#fff;}

#footer .footer_right .f_social ul li:last-child {

	margin:0;

}

#footer .footer_right .f_social ul li:last-child a span {

	margin-right:10px;

	padding-left:5px;

}

#footer .footer_right .f_social ul li a:hover span {

	background:none;

	color:#fff;

}

#footer .footer_right p {

	color:#fff;

	opacity:0.7;

	font-family: 'calibribold';

	font-size:16px;

	line-height:20px;

	padding-top:8px;

}

#footer .footer_right form { }

#footer .footer_right div[class*="row"] { margin:0 -8px;}

#footer .footer_right div[class*="col-"] { padding:0 8px;}

#footer .footer_right .formbox {

	width:100%;

	margin-top:25px;

}

#footer .footer_right .formbox.newslatter input[type="text"]

{

	background:url(../images/news-iocn.png) no-repeat 95% center;

}

#footer .footer_right .formbox .inputbox {

	position:relative;

}

#footer .footer_right .formbox .inputbox:after {

	background: #fff;

    content: "";

    left: 0;

    top: 0;

	right:0;

	bottom:0;

	position: absolute;

    transform: skew(-15deg);

	-moz-transform: skew(-15deg);

	-o-transform: skew(-15deg);

	-ms-transform: skew(-15deg);

	-webkit-transform: skew(-15deg);

    z-index: 9;

	border:solid 3px #1c4988;

}

#footer .footer_right .formbox .submitbox {

	position:relative;

	margin-top:3px;

}

#footer .footer_right .formbox .submitbox:after {

	background: #1d295e;

    content: "";

    left: 0;

    top: 0;

	right:0;

	bottom:0;

	position: absolute;

    transform: skew(-15deg);

	-moz-transform: skew(-15deg);

	-o-transform: skew(-15deg);

	-ms-transform: skew(-15deg);

	-webkit-transform: skew(-15deg);

    z-index: 9;

	transition:all ease-in-out 0.2s;

	-webkit-transition:all ease-in-out 0.2s;

	-moz-transition:all ease-in-out 0.2s;

	-ms-transition:all ease-in-out 0.2s;

	-o-transition:all ease-in-out 0.2s;

}

#footer .footer_right .formbox .submitbox:hover:after {

	background:#ce5e2d;

}

#footer .footer_right .formbox input[type="text"] {

	position:relative;

	z-index:10;

	background:none;

	border:none;

	height:54px;

	width:100%;

	padding:0 25px;

	color:#666;

	font-size:18px;

	font-family: 'calibribold_italic';

}

#footer .footer_right .formbox input[type="submit"] {

	position:relative;

	z-index:10;

	background:none;

	border:none;

	height:48px;

	width:100%;

	padding:0 25px;

	color:#fff;

	font-size:18px;

	font-family: 'calibribold';

	

}

#footer .footer_right .toolbox {

	position:relative;

	margin-top:50px;

	width:200px;

}

#footer .footer_right .toolbox:after {

	background: #549fd0;

    content: "";

    left: 0;

    top: 0;

	right:0;

	bottom:0;

	position: absolute;

    transform: skew(-15deg);

	-moz-transform: skew(-15deg);

	-o-transform: skew(-15deg);

	-ms-transform: skew(-15deg);

	-webkit-transform: skew(-15deg);

    z-index: 9;

	transition:all ease-in-out 0.2s;

	-webkit-transition:all ease-in-out 0.2s;

	-moz-transition:all ease-in-out 0.2s;

	-ms-transition:all ease-in-out 0.2s;

	-o-transition:all ease-in-out 0.2s;

}

#footer .footer_right .toolbox a {

	display:block;

	height:48px;

	line-height:48px;

	background:url(../images/sett_icon.png) no-repeat 20px center;

	font-family: 'calibribold';

	font-size:18px;

	color:#fff;

	text-align:center;

	position:relative;

	z-index:10;

	padding:0 0 0 30px;

}

#footer .footer_right .toolbox:hover:after {

	background:#ce5e2d;

}



#footer .footer_bootom {

	position:relative;

	font-size:0;

	text-align:center;

	padding:25px 0 50px 0;

	margin-top:70px;

}

#footer .footer_bootom .topline {

	height:1px;

	position:absolute;

	left:0;

	top:0;

	width:100%;

	

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0099cc+0,2e49a0+100 */

	background: #0099cc; /* Old browsers */

	background: -moz-linear-gradient(-45deg,  #0099cc 0%, #2e49a0 100%); /* FF3.6-15 */

	background: -webkit-linear-gradient(-45deg,  #0099cc 0%,#2e49a0 100%); /* Chrome10-25,Safari5.1-6 */

	background: linear-gradient(135deg,  #0099cc 0%,#2e49a0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0099cc', endColorstr='#2e49a0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */



}

#footer .footer_bootom .copyright {

	display:inline-block;

	vertical-align:top;

	font-family: 'calibribold';

	color:#fff;

	font-size:16px;

	margin-right:15px;

}

#footer .footer_bootom .copyright span { color:#ce5e2d;}

#footer .footer_bootom ul {

	display:inline-block;

	vertical-align:top;

}

#footer .footer_bootom ul li {

	position:relative;

	float:left;

	padding:0 17px 0 20px;

}

#footer .footer_bootom ul li:before {

	content:"I";

	color:#fff;

	position:absolute;

	left:0;

	top:0;

	font-family: 'calibriregular';

	font-size:16px;

}

#footer .footer_bootom ul li:first-child:before {

	content:"|";

}

#footer .footer_bootom ul li a {

	font-family: 'calibriregular';

	font-size:16px;

	color:#fff;

	transition:all ease-in-out 0.2s;

	-webkit-transition:all ease-in-out 0.2s;

	-moz-transition:all ease-in-out 0.2s;

	-ms-transition:all ease-in-out 0.2s;

	-o-transition:all ease-in-out 0.2s;

}

#footer .footer_bootom ul li a:hover { color:#ce5e2d;}





.desktop_slider .owl-dots { display:none; }









/*=========================================*/

/* Mobile Css Start*/

/*=========================================*/



.mobile_nav_block

{

	width:auto;

	float:right;

	 background:#0196ce;

	 padding:15px 15px 15px 25px;

	 position:relative;

	 display:none;

}

.mobile_nav_block:before

{

	position:absolute;

	left:-19px;

	top:0px;

	background:url(../images/nav_bg_shape.png) no-repeat left top;

	width:19px;

	height:65px;

	content:'';

	

}

.mobile_nav_block:after

{

	position:absolute;

	left:100%;

	top:0px;

	background:#0196ce;

	width:1000px;

	height:65px;

	content:'';

	

}

.nav_icon{ width:auto; background:#0196ce; float:right; }

.nav_icon a{ float:left; }



.actus_mobile_block

{

	display:inline-block;

	width:100%;

	display:none;

	text-align:center;

}

.actus_mobile_div{ width:312px; display:inline-block; text-align:left; }







.mobile_tv_block{ width:100%; display:inline-block; display:none ; }

.event_slider .owl-dots{ display:none !important; }





.mobile_footer { width:100%; display:none; padding:35px 0 0 0; }

.mobile_footer .f_social { font-size:0;}

.mobile_footer .f_social h3 {

	display:inline-block;

	vertical-align:top;

	margin:0 30px 0 0;

	line-height:42px;

}

.mobile_footer .f_social ul {

	display:inline-block;

	vertical-align:top;

	padding:15px 0 0 0;

}

.mobile_footer .f_social ul li {

	display:block;

	float:left;

	margin-right:10px;

}

.mobile_footer .f_social ul li a {

	display:block;

	float:left;

	color:#acb4d3;

	font-family: 'calibribold';

	font-size:18px;

	line-height:42px;

	transition:all ease-in-out 0.3s;

	-webkit-transition:all ease-in-out 0.3s;

	-moz-transition:all ease-in-out 0.3s;

	-ms-transition:all ease-in-out 0.3s;

	-o-transition:all ease-in-out 0.3s;

}

.mobile_footer .f_social ul li a span {

	display:block;

	float:left;

	width:42px;

	height:42px;

	background:#fff;

	border-radius:100%;

	line-height:42px;

	text-align:center;

	color:#235caa;

	font-size:24px;

	transition:all ease-in-out 0.3s;

	-webkit-transition:all ease-in-out 0.3s;

	-moz-transition:all ease-in-out 0.3s;

	-ms-transition:all ease-in-out 0.3s;

	-o-transition:all ease-in-out 0.3s;

}

.mobile_footer .f_social ul li a:hover { color:#fff;}

.mobile_footer .f_social ul li:last-child {

	margin:0;

}

.mobile_footer .f_social ul li:last-child a span {

	margin-right:10px;

	padding-left:5px;

}





.mobile_footer .f_social ul li a:hover span {

	background:none;

	color:#fff;

}

#footer .footer_news p {

	color:#fff;

	opacity:0.7;

	font-family: 'calibribold';

	font-size:16px;

	line-height:20px;

	padding-top:8px;

}

#footer .footer_news form { }

#footer .footer_news div[class*="row"] { margin:0 -8px;}

#footer .footer_news div[class*="col-"] { padding:0 8px;}

#footer .footer_news .formbox {

	width:100%;

	margin-top:25px;

}

#footer .footer_news .formbox.newslatter input[type="text"]

{

	background:url(../images/news-iocn.png) no-repeat 95% center;

}

#footer .footer_news .formbox .inputbox {

	position:relative;

}

#footer .footer_news .formbox .inputbox:after {

	background: #fff;

    content: "";

    left: 0;

    top: 0;

	right:0;

	bottom:0;

	position: absolute;

    transform: skew(-15deg);

	-moz-transform: skew(-15deg);

	-o-transform: skew(-15deg);

	-ms-transform: skew(-15deg);

	-webkit-transform: skew(-15deg);

    z-index: 9;

	border:solid 3px #1c4988;

}

#footer .footer_news .formbox .submitbox {

	position:relative;

	margin-top:3px;

	width:auto;

	display:inline-block;

}

#footer .footer_news .formbox .submitbox:after {

	background: #1d295e;

    content: "";

    left: 0;

    top: 0;

	right:0;

	bottom:0;

	position: absolute;

    transform: skew(-15deg);

	-moz-transform: skew(-15deg);

	-o-transform: skew(-15deg);

	-ms-transform: skew(-15deg);

	-webkit-transform: skew(-15deg);

    z-index: 9;

	transition:all ease-in-out 0.2s;

	-webkit-transition:all ease-in-out 0.2s;

	-moz-transition:all ease-in-out 0.2s;

	-ms-transition:all ease-in-out 0.2s;

	-o-transition:all ease-in-out 0.2s;

}

#footer .footer_news .formbox .submitbox:hover:after {

	background:#ce5e2d;

}

#footer .footer_news .formbox input[type="text"] {

	position:relative;

	z-index:10;

	background:none;

	border:none;

	height:54px;

	width:100%;

	padding:0 25px;

	color:#666;

	font-size:18px;

	font-family: 'calibribold_italic';

}

#footer .footer_news .formbox input[type="submit"] {

	position:relative;

	z-index:10;

	background:none;

	border:none;

	height:48px;

	width:auto;

	padding:0 25px;

	color:#fff;

	font-size:18px;

	font-family: 'calibribold';

	

}







.footer_nav{ display:inline-block; width:100%; }

.footer_nav h3 {

	font-family: 'sansationbold';

	font-size:18px;

	color:#fff;

	text-transform:uppercase;

	/*font-weight:bold;*/

	line-height:22px;

	margin-top:30px;

	margin-right:10px;

}

 

.footer_nav ul {

	display:block;

	padding-top:10px;

}

.footer_nav ul li {

	display:block;

}

.footer_nav ul li a {

	font-family: 'calibribold';

	color:#fff;

	font-size:16px;

	line-height:24px;

	opacity:0.7;

}

.footer_nav ul li a:hover {

	opacity:1;

}





/*=========================================*/

/* Inner Page Start*/

/*=========================================*/





.breadcrumb_wapper

{

	width:100%;

	display:block;

	background:#f3f1f1;

	padding:10px 0;

}

.breadcrumb_wapper ul

{

	display:inline-block;

}

.breadcrumb_wapper ul li

{

	display:inline-block;

	position:relative;

	font-size:16px;

	color:#9b9999;

	padding:0 25px 0 0;

	margin:7px 10px 7px 0;

	font-family: 'calibribold';

}

.breadcrumb_wapper ul li:after

{

	position:absolute;

	right:0px;

	top:2px;

	content:"\f054";

	font-family:'FontAwesome';

	color:rgba(102,102,102,0.5);

}

.breadcrumb_wapper ul li:last-child:after

{

	display:none;

}

.breadcrumb_wapper ul li a

{

	font-size:16px;

	color:#7b7777;

	font-family: 'calibribold';

}

.breadcrumb_wapper ul li a:hover

{

	color:#549fd0;

}



.category_wapper

{

	width:100%;

	padding:35px 0;

	display:inline-block;

}



.category_left

{

	width:100%;

	display:inline-block;

}



.category_right

{

	width:100%;

	display:inline-block;

}

.inner_image

{

	width:100%;

	display:inline-block;

}

.inner_image img

{

	width:100%;

	display:inline-block;

}

.presentation_block

{

	width:100%;

	display:inline-block;

	padding:45px 0 0 0;

}





.big_title_inner

{

	display:inline-block;

	float:left;

	width:100%;

}

.big_title_inner h2

{

	width:auto;

	float:left;

	font-size:30px;

	margin:3px 0 0 0;

	font-family: 'sansationbold';

	color:#1e64af;

	text-transform:uppercase;

	position:relative;

	padding:0 0 0 18px;

}

.big_title_inner h2 span

{

	font-family: 'sansation_lightregular';

}

.big_title_inner h2:before

{

	position:absolute;

	left:0px;

	top:0;

	height:30px;

	width:5px;

	content:'';

	background:#ce5e2d;

}

.presentation_block p

{

	display:inline-block;

	padding:0px;

	width:100%;

	color:#7b7777;

	font-size:16px;

	font-family: 'sansationbold';

	padding:17px 0 0 0;

}



.une_wapper

{

	width:100%;

	display:inline-block;

	padding:54px 0 0 0;

}

.une_wapper .big_title_inner h2

{

	color:#549fd0;

}

.more_button_inner

{

	width:auto;

	float:right;

}

.more_button_inner a

{

	width:auto;

	float:left;

	position:relative;

	color:#fff;

	font-size:16px;

	font-family: 'calibribold';

	padding:8px 20px;

}

.more_button_inner a .fa

{

	margin:3px 10px 0 0;

	color:#98c5e3;

	padding:0px;

}

.more_button_inner a:after

{

	width:100%;

	float:left;

	position:absolute;

	left:0px;

	top:0px;

	z-index:9;

	height:100%;

	-webkit-transform: skew(-15deg); 

   -moz-transform: skew(-15deg); 

   -o-transform: skew(-15deg);

   transform: skew(-15deg);

   content:'';

   background:#549fd0;

   

}

.more_button_inner a:hover:after

{

	background:#245c80;

}

.more_button_inner a span

{

	position:relative;

	z-index:10;

}

.une_block_main

{

	width:100%;

	display:inline-block;

}

.une_block_desktop

{

	width:100%;

	display:inline-block;

}

.une_block_desktop .actus_box_second .actus_box_Sub::after

{

	border-width: 0 0 30px 281px;

}



.result_wapper

{

	width:100%;

	display:inline-block;

}



.tab_block  

{

	width:100%;

	display:inline-block;

	padding:19px 0 0 0;

}

.tab_block .nav-tabs

{

	width:100%;

	float:left;

	padding:0px;

	border:0px;

	border-bottom:#1e64af solid 2px;

}

.tab_block .nav-tabs li 

{

	padding:0 2px 0 0 ;

	margin:0px;

	width:auto;

	float:left;

}

.tab_block .nav-tabs li:last-child

{

	border:0px;

}

.tab_block .nav-tabs li a

{

	padding:13px 50px;

	margin:0px;

	width:100%;

	float:left;

	border:0px;

	font-size:16px;

	color:#7b7777;

	font-family: 'calibribold';

	background:#d2cece;

	border-radius:0px;

	text-transform:uppercase;

	

}

.tab_block .nav-tabs li a:hover

{

	background:#d2cece;

	border:0px;

}

.tab_block .nav-tabs > li.active > a, 

.tab_block .nav-tabs > li.active > a:hover, 

.tab_block .nav-tabs > li.active > a:focus

{

	border:0px;

	background:#1e64af;

	color:#fff;

}





.tab_container

{

	width:100%;

	display:inline-block;

	background:#f3f1f1;

	padding:30px;

}

.tab_container h2

{

	font-family: 'calibribold';

	color:#ce5e2d;

	font-size:20px;

	display:block;

	padding:0 0 16px 0;

}

.tab_box

{

	width:100%;

	padding:14px 0;

	display:inline-block;

}

.tab_box h3

{

	float:left;

	width:50px;

	font-size:22px;

	color:#7b7777;

	text-transform:uppercase;

	padding:0 0 0 0 ;

	font-family: 'calibribold';

}

.tab_box ul

{

	display:block;

	padding:0 0 0 65px;

}

.tab_box ul li

{

	display:list-item;

	list-style:decimal;

	font-size:16px;

	color:#7b7777;

	font-family: 'calibriregular';

	list-style-position:outside;

	padding:0 0 3px 5px;

	 

}

.classments_link

{

	width:100%;

	display:inline-block;

	padding:24px 0 0 40px;

}

.classments_link a

{

	width:auto;

	float:left;

	position:relative;

	color:#fff;

	font-size:16px;

	font-family: 'calibribold';

	padding:8px 20px;

}

.classments_link a .fa

{

	margin:3px 10px 0 0;

	color:#98c5e3;

	padding:0px;

}

.classments_link a:after

{

	width:100%;

	float:left;

	position:absolute;

	left:0px;

	top:0px;

	z-index:9;

	height:100%;

	-webkit-transform: skew(-15deg); 

   -moz-transform: skew(-15deg); 

   -o-transform: skew(-15deg);

   transform: skew(-15deg);

   content:'';

   background:#1e64af;

   

}

.classments_link a:hover:after

{

	background:#245c80;

}

.classments_link a span

{

	position:relative;

	z-index:10;

}





.venir_wapper

{

	width:100%;

	display:inline-block;

	padding:60px 0 0 0;

}

.venir_wapper .more_button_inner a::after

{

	background:#ce5e2d;

}

 

.venir_wapper .more_button_inner a span .fa{

	 color:#e29e81;

 }

.venir_wapper_sub

{

	width:100%;

	display:inline-block;

	padding:25px 0 0 0;

}

.venir_box_main

{

	width:100%;

	display:inline-block;

	text-align:center;

	padding:60PX 0 0 0;

	margin-bottom:30px;

}

.venir_box

{

	width:190PX;

	display:inline-block;

	text-align:left;

	padding:15PX 15px 22px;

	background:#f3f1f1;

	position:relative;

}

.venir_box:after

{

	position:absolute;

	left:0px;

	TOP:-30PX;

	content:'';

	/*height:100%;

	width:100%;

	z-index:9;

	border-top: 288px solid #f3f1f1; 

	border-right: 80px solid transparent;*/

	

	z-index:11;

	border-color: #f3f1f1 rgba(0, 0, 0, 0);

    border-style: solid;

    border-width: 0 0 30px 190px;

    height: 0;

    width: 0;

}

.nav_icon2

{

	width:100%;

	display:inline-block;

	background:url(../images/boat_orange.png) no-repeat left top;

	height:20px;

	

	

}

.nav_icon2  img

{

	height:auto !important;

	width:auto !important;

	

}

.venir_box h4

{

	display:inline-block;

	width:100%;

	color:#1e64af;

	font-size:20px;

	padding:0 0 12px 0;

	font-family: 'calibribold';

}

.venir_box .address

{

	width:100%;

	display:inline-block;

	padding: 0 0 11px 0;

}

.venir_box .address span

{

	width:22px;

	float:left;

	text-align:center;

	padding:0 0 0 0;

	margin:0 12px 0 0;

}

.venir_box .address span.pin

{

	background:url(../images/address.png) no-repeat center top;

	min-height:26px;

}

.venir_box .address span.date3

{

	background:url(../images/date.png) no-repeat center top;

	min-height:26px;

	background-size:22px auto;

}

.venir_box .address span img

{

	width:auto;

	display:inline-block;

}

.venir_box .address p

{

	display:block;

	padding:0 0 0 38px;

	color:#7b7777;

	font-size:14px;

	font-family: 'calibriregular';

}

.venir_box .date

{

	position:absolute;

	right:20px;

	top:-60px;

	height:64px;

	width:64px;

	background:#ce5e2d;

	border-radius:100%;

	-moz-border-radius:100%;

	-webkit-border-radius:100%;

	-o-border-radius:100%;

	-ms-border-radius:100%;

	text-align:center;

	color:#fff;

	font-size:16px;

	font-family: 'calibribold';

	line-height:14px;

	padding:10px 0 0 0;

	z-index:15;

}

.venir_box .date span

{

	display:block;

	font-size:26px;

	line-height:26px;

}





.venir_box.heighlight

{

	background:#1e64af;

}

.venir_box.heighlight:after

{

	border-color: #1e64af rgba(0, 0, 0, 0);	

}

.venir_box.heighlight h4

{

	color:#fff;

}

.venir_box.heighlight .address p

{

	color:#fff;

}

.venir_box.heighlight .nav_icon2{background:url(../images/boat_orange_h.png) no-repeat left top;}

.venir_box.heighlight   .date 

{

	background:#f3f1f1;

	color:#ce5e2d;

}

.venir_wapper_sub

{

	text-align:center;

}

.venir_wapper_sub .owl-nav .owl-prev

{

	font-size:0px;

	position:absolute;

	left:-18px;

	top:50%;

	height:28px;

	width:18px;

	margin:-14px 0 0 0;

	background:url(../images/left_arrow.png) no-repeat left top;

	background-size:18px auto;

}

.venir_wapper_sub .owl-nav .owl-next

{

	font-size:0px;

	position:absolute;

	right:-18px;

	top:50%;

	height:28px;

	width:18px;

	margin:-14px 0 0 0;

	background:url(../images/right_arrow.png) no-repeat left top;

	background-size:18px auto;

}



.une_block_desktop .row

{

	margin:0 -10px;

}

.venir_wapper_sub .owl-dots

{

	display:none !important;

}





.accro_wappre

{

	width:100%;

	display:inline-block;

	padding:20px 0 48px 0;

}

.ac_block

{

	width:100%;

	display:inline-block;

	margin:10px 0;

	position:relative;

}

.ac_title

{

	width:100%;

	display:inline-block;

	background:#f3f1f1;

	padding:16px 20px;

	margin:0 0;

}

.ac_title i

{

	float:left;

	padding:0px;

	width:64px;

}

.ac_title h3

{

	display:block;

	padding:12px 0 0 64px;

	font-size:20px;

	text-transform:uppercase;

	color:#549fd0;

	font-family: 'sansationbold';

}

.ac_title h3 span

{

	 font-family: 'sansation_lightregular';

}

.ac_title .arrow

{

	width:auto;

	float:right;

	padding:0px;

	margin:-15px 0 0 0;

	font-size:35px;

	color:#ce5e2d;

	line-height:0px;

}

.ac_title .arrow .fa{ line-height:0px; }

.ac_title:hover

{

	cursor:pointer;

	background:#1e64af;

}

.ac_title .arrow i { width:auto !important; }

.ac_title:hover  h3

{

	color:#fff;

}





.club_box_inner

{



	width:100%;

	display:inline-block;

	 

	padding:29px 25px 27px 25px;

	background:url(../images/club_bg.png) no-repeat 100% top #1e64af;

	background-position: 110% top;

}

.club_box_inner h2

{

	display:inline-block;

	width:100%;

	font-size:24px;

	color:#fff;

	text-transform:uppercase;

	font-family: 'sansationbold';

}

.club_box_inner p

{

	display:inline-block;

	width:100%;

	font-size:18px;

	color:#fff;

	font-family: 'calibriregular';

}

.club_box_inner form

{

	width:100%;

	display:inline-block;

}

.club_box_inner .main_club_box

{

	width:100%;

	padding:14px 0 0 0;

	display:inline-block;

}

.club_box_inner .main_club_box .sub_div

{

	width:173px;

	display:inline-block;

	border:rgba(0,0,0,0.2) solid 3px;

}

.club_box_inner .main_club_box  input[type=text],

.club_box_inner .main_club_box  input[type=email]

{

	width:100%;

	display:inline-block;

	background:#fff;

	border:0px;

	color:#123c69;

	padding:10px 12px 8px;

}

.club_box_inner .club_icon{ display:inline-block; padding:0 0 0 5px; }

.club_box_inner  .button_block

{

	width:auto;

	display:inline-block;

	position:relative;

	margin:11px 0 0 0;

}

.club_box_inner    input[type=submit]

{

	display:inline-block;

	color:#fff;

	font-size:18px;

	border:0px;

	background:none;

	font-family: 'calibribold';

	position:relative;

	z-index:10;

	padding:11px 25px;

}

.club_box_inner  .button_block:after

{

	width:100%;

	float:left;

	position:absolute;

	left:0px;

	top:0px;

	z-index:9;

	height:100%;

	-webkit-transform: skew(-15deg); 

   -moz-transform: skew(-15deg); 

   -o-transform: skew(-15deg);

   transform: skew(-15deg);

   content:'';

   background:#123c69;

   

}

.club_box_inner   .button_block:hover:after

{

	background:#1e8bff;

}



.courses_block

{

	width:100%;

	display:inline-block;

	background:#f3f1f1;

	padding:20px;

	margin:30px 0 0 0;

}

.courses_block h4

{

	display:inline-block;

	width:100%;

	text-transform:uppercase;

	font-size:18px;

	color:#ce5e2d;

	font-family: 'sansationbold';

}

.courses_block h4 span

{

	display:block;

	font-family: 'calibriregular';	

}

.courses_slider

{

	width:100%;

	display:inline-block;

	text-align:center;

	padding:17px 0 0 0;

}

.courses_box

{

	width:100%;

	padding:0 0 9px 0;

	display:inline-block;

	text-align:center;

}

.cur_img

{

	width:100%;

	display:inline-block;

	text-align:center;

}

.cur_img img

{

	display:inline-block !important;

	max-width:100% !important;

	width:auto !important;

}

.courses_box p

{

	display:inline-block;

	width:100%;

	font-size:22px;

	color:#656565;

	padding:7px 0 0 0;

	font-family: 'calibribold';

}





.ad_image

{

	width:100%;

	display:inline-block;

	text-align:center;

	padding:30px 0;

}

.ad_image img

{

	display:inline-block;

	max-width:100%;

}

.hover_div{ display:none; width:100%; position:absolute; left:0px; top:100%; width:100%; z-index:100; }

.hover_div .tv_block_main{ padding:0 15px 23px; }



.hover_div.first{ background:#1e64af; padding:25px 25px 0; }

.hover_div.second{ background:#f3f1f1; padding:25px 25px; }

.ac_block:hover .hover_div { display:inline-block;  }

.ac_block:hover .ac_title  

{

	cursor:pointer;

	background:#1e64af;

} 

.ac_block:hover .ac_title     h3

{

	color:#fff;

}

.button_center

{

	width:100%;

	float:left;

	text-align:center;

	margin-bottom:-23px;

	padding:15px 0 0 0;

}

.button_center a

{

	width:auto;

	display:inline-block;

	position:relative;

	color:#fff;

	font-size:16px;

	font-family: 'calibribold';

	padding:10px 20px;

}

.button_center a .fa

{

	margin:3px 10px 0 0;

	 color:#e29e81;

	padding:0px;

}

.button_center a:after

{

	width:100%;

	float:left;

	position:absolute;

	left:0px;

	top:0px;

	z-index:9;

	height:100%;

	-webkit-transform: skew(-15deg); 

   -moz-transform: skew(-15deg); 

   -o-transform: skew(-15deg);

   transform: skew(-15deg);

   content:'';

   background:#ce5e2d;

   

}

.button_center a:hover:after

{

	background:#9e4119;

}

.button_center a span

{

	position:relative;

	z-index:10;

}

.big_title h3 

{

	 font-size:16px;

	 color:#6f6f6e;

	 font-family: 'calibriregular';

	 display:inline-block;

}



.social_plug

{

	width:100%;

	display:inline-block;

	/*padding:25px 0;*/

	/*min-height:500px;*/

}

.hover_div .tv_block_main 

{

	min-height:260px;

}

 

/*=========================================*/

/* Inner Page End */

/*=========================================*/







/*=========================================*/

/* Sticky Header Start */

/*=========================================*/

.stickry_header_warp

{

	width:100%;

	float:left;

	padding:0px;

	overflow:hidden;

	opacity:0;

	position:fixed;

	top:0px;

	left:0px;

	background:#fff;

	-webkit-transition: all 0.5s ease-in-out;

	-moz-transition: all 0.5s ease-in-out;

	-ms-transition: all 0.5s ease-in-out;

	-o-transition: all 0.5s ease-in-out;

	transition: all 0.5s ease-in-out;

}

.stickry_header_warp .logo img

{

	height:80px;

}



.stickry_header_warp .navigaction_block { width:1084px; float:right; }

.stickry_header_warp.darkHeader

{

 

	opacity:1;

	z-index:1000;

}

 

/*=========================================*/

/* Sticky Header End */

/*=========================================*/

.left_cat

{

	width:100%;

	display:inline-block;

	background:#f3f1f1;

	margin:0 0 30px 0;

	border-top:#ce5e2d solid 5px;

}

.left_cat > ul

{

	width:100%;

	display:inline-block;

}



.left_cat > ul > li

{

	width:100%;

	display:inline-block;

}

.left_cat > ul > li > a 

{

	width:100%;

	display:inline-block;

	padding:10px 15px 5px; 

	font-size:18px;

	color:#7b7777;

	font-family: 'calibribold';

	text-transform:uppercase;

}

.left_cat > ul > li > a:before

{

	content:"\f054";

	float:right;

	font-family:'FontAwesome';

	color:#fff;

	font-size:24px;

	margin-top:-4px;

}

.left_cat > ul > li > a:hover,

.left_cat > ul > li.active > a

{

	background:#549fd0;

	color:#fff;

}

.left_cat > ul > li > a:hover:before,

.left_cat > ul > li.active > a:before

{

	color:#98c5e3;

	content:"\f078";

}

.left_cat > ul > li .sub_cat

{

	width:100%;

	display:inline-block;

	font-size:18px;

	color:#7b7777;

	background:#e7e5e5;

	padding:15px 0;

	font-family: 'calibriregular';

}

.left_cat > ul > li .sub_cat li

{

	width:100%;

	display:inline-block;

	padding:2px 25px;

}

.left_cat > ul > li .sub_cat li a

{

	display:inline-block;

	color:#7b7777;

}

.left_cat > ul > li .sub_cat li a:hover

{

	color:#549fd0;

}

.left_cat > ul > li .sub_cat li a:hover:before

{

	color:#ce5e2d;

}



.left_cat > ul > li .sub_cat li a:before

{

	float:left;

	content:"\f054";

	float:left;

	font-size:14px;

	margin:4px  10px 0 0px;

	font-family:'FontAwesome';

}

.left_cat h3

{

	display:inline-block;

	 

	width:100%;

	color:#549fd0;

	font-size:18px; 

	font-family: 'calibribold';

	text-transform:uppercase;

	padding:20px 15px;

}

.left_cat h3:after

{

	float:left;

	padding:0px;

	content:"\f0c9";

	color:#929191;

	font-family:'FontAwesome';

	padding:0 7px 0 0;

}

.left_cat h3:before

{

	content:"\f054";

	float:right;

	font-family:'FontAwesome';

	color:#929191;

	font-size:20px;

	margin-top:-2px;

}







.megaMenu > li 

{

	padding:0 29px !important;

}

.megaMenu > li  > a

{

	padding:0px;

	padding:17px 0 22px 0px !important;

	font-family: 'museo_sans900';

	font-size:15px !important;

	text-transform:uppercase;

	color:#fff !important;

	border-left:0px !important;

	font-weight:normal !important;

	border-top:rgba(206,94,45,0.0) solid 5px !important; 

}

.megaMenu > li  > a:hover

{

	border-top:rgba(206,94,45,1) solid 5px !important;

}

.megaMenu > li  > a:hover

{

	background:none;

}

.megaMenu > li  > a:after

{

	display:none !important;

}

.megaMenu > li  > a:before

{

	float:left;

	margin:-3px 0 0 -22px;

	content:"\f078";

	color: #67c0e0;

	font-family:'FontAwesome';

}

	

.sub-menu.sub-menu-1	 

{

	width:100%;

	left:0px;

	

}





.custom-full

{

	width:1170px;

	margin:0 auto !important;

  

}

.custom-full > li

{

	width:20%;

	display:inline-block;

	vertical-align:top !important;

}









.hover_div .tv_block_main img{ width:100%; }







.category_right_singal h3

{

	width:100%;

	float:left;

	font-size:30px;

	margin:0 0 30px 0 !important;

	font-family: 'sansationbold';

	color:#1e64af;

	text-transform:uppercase;

	position:relative;

	padding:0 0 0 18px;

}

.category_right_singal h3 em

{

	font-style: normal !important;

	font-family: 'sansation_lightregular';

}

.category_right_singal h3:before

{

	position:absolute;

	left:0px;

	top:0;

	height:30px;

	width:5px;

	content:'';

	background:#ce5e2d;

}

.category_right_singal img{ width:100%; }

.category_right_singal p

{

	font-size:16px;

	color:#7b7777;

	font-family: 'calibriregular';

}

.category_right_singal p strong

{

	font-weight:normal;

	font-family: 'calibribold';

	 

	display:block;

}







.category_right_singal .blue_title  h3

{

	color:#549fd0;

	

}

.category_right_singal h4

{

	

	font-size:24px;

	color:#ce5e2d;

	font-family: 'calibribold';

}



.category_right_singal h5

{

	

	font-size:24px;

	color:#7b7777;

	font-family: 'calibribold';

	padding-bottom:30px;

}

.category_right_singal ul

{

	padding:0 0 0 100px;

}

.category_right_singal ul li

{

	font-size:18px;

	color:#7b7777;

	padding:5px 0;

	font-family: 'calibribold';

	

}

.category_right_singal ul li:before 

{

	float:left;

	content:"\f054";

	float:left;

	color:#ce5e2d;

	font-size:14px;

	margin:4px  10px 0 0px;

	font-family:'FontAwesome';

}

