 
@font-face {
    font-family: 'MyriadProRegular';
    src: url('MyriadProRegular.eot');
    src: url('MyriadProRegular.eot') format('embedded-opentype'),
         url('MyriadProRegular.woff2') format('woff2'),
         url('MyriadProRegular.woff') format('woff'),
         url('MyriadProRegular.ttf') format('truetype'),
         url('MyriadProRegular.svg#MyriadProRegular') format('svg');
}











@font-face {
    font-family: 'sansationbold';
    src: url('sansation_bold-webfont.eot');
    src: url('sansation_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('sansation_bold-webfont.woff2') format('woff2'),
         url('sansation_bold-webfont.woff') format('woff'),
         url('sansation_bold-webfont.ttf') format('truetype'),
         url('sansation_bold-webfont.svg#sansationbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sansationitalic';
    src: url('sansation_italic-webfont.eot');
    src: url('sansation_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('sansation_italic-webfont.woff2') format('woff2'),
         url('sansation_italic-webfont.woff') format('woff'),
         url('sansation_italic-webfont.ttf') format('truetype'),
         url('sansation_italic-webfont.svg#sansationitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sansation_lightregular';
    src: url('sansation_light-webfont.eot');
    src: url('sansation_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('sansation_light-webfont.woff2') format('woff2'),
         url('sansation_light-webfont.woff') format('woff'),
         url('sansation_light-webfont.ttf') format('truetype'),
         url('sansation_light-webfont.svg#sansation_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sansationregular';
    src: url('sansation_regular-webfont.eot');
    src: url('sansation_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('sansation_regular-webfont.woff2') format('woff2'),
         url('sansation_regular-webfont.woff') format('woff'),
         url('sansation_regular-webfont.ttf') format('truetype'),
         url('sansation_regular-webfont.svg#sansationregular') format('svg');
    font-weight: normal;
    font-style: normal;

}






@font-face {
    font-family: 'calibrilight_italic';
    src: url('calibrili-webfont.eot');
    src: url('calibrili-webfont.eot?#iefix') format('embedded-opentype'),
         url('calibrili-webfont.woff') format('woff'),
         url('calibrili-webfont.ttf') format('truetype'),
         url('calibrili-webfont.svg#calibrilight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'calibriitalic';
    src: url('calibrii-webfont.eot');
    src: url('calibrii-webfont.eot?#iefix') format('embedded-opentype'),
         url('calibrii-webfont.woff') format('woff'),
         url('calibrii-webfont.ttf') format('truetype'),
         url('calibrii-webfont.svg#calibriitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'calibribold_italic';
    src: url('calibriz-webfont.eot');
    src: url('calibriz-webfont.eot?#iefix') format('embedded-opentype'),
         url('calibriz-webfont.woff') format('woff'),
         url('calibriz-webfont.ttf') format('truetype'),
         url('calibriz-webfont.svg#calibribold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'calibriregular';
    src: url('calibri-webfont.eot');
    src: url('calibri-webfont.eot?#iefix') format('embedded-opentype'),
         url('calibri-webfont.woff') format('woff'),
         url('calibri-webfont.ttf') format('truetype'),
         url('calibri-webfont.svg#calibriregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'calibribold';
    src: url('calibrib-webfont.eot');
    src: url('calibrib-webfont.eot?#iefix') format('embedded-opentype'),
         url('calibrib-webfont.woff') format('woff'),
         url('calibrib-webfont.ttf') format('truetype'),
         url('calibrib-webfont.svg#calibribold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'calibrilight';
    src: url('calibril-webfont.eot');
    src: url('calibril-webfont.eot?#iefix') format('embedded-opentype'),
         url('calibril-webfont.woff') format('woff'),
         url('calibril-webfont.ttf') format('truetype'),
         url('calibril-webfont.svg#calibrilight') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'museo_sans100';
    src: url('museosans-100-webfont.eot');
    src: url('museosans-100-webfont.eot?#iefix') format('embedded-opentype'),
         url('museosans-100-webfont.woff2') format('woff2'),
         url('museosans-100-webfont.woff') format('woff'),
         url('museosans-100-webfont.ttf') format('truetype'),
         url('museosans-100-webfont.svg#museo_sans100') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo_sans100_italic';
    src: url('museosans-100italic-webfont.eot');
    src: url('museosans-100italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('museosans-100italic-webfont.woff2') format('woff2'),
         url('museosans-100italic-webfont.woff') format('woff'),
         url('museosans-100italic-webfont.ttf') format('truetype'),
         url('museosans-100italic-webfont.svg#museo_sans100_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo_sans300';
    src: url('museosans-300-webfont.eot');
    src: url('museosans-300-webfont.eot?#iefix') format('embedded-opentype'),
         url('museosans-300-webfont.woff2') format('woff2'),
         url('museosans-300-webfont.woff') format('woff'),
         url('museosans-300-webfont.ttf') format('truetype'),
         url('museosans-300-webfont.svg#museo_sans300') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo_sans300_italic';
    src: url('museosans-300italic-webfont.eot');
    src: url('museosans-300italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('museosans-300italic-webfont.woff2') format('woff2'),
         url('museosans-300italic-webfont.woff') format('woff'),
         url('museosans-300italic-webfont.ttf') format('truetype'),
         url('museosans-300italic-webfont.svg#museo_sans300_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo_sans500';
    src: url('museosans_500-webfont.eot');
    src: url('museosans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('museosans_500-webfont.woff2') format('woff2'),
         url('museosans_500-webfont.woff') format('woff'),
         url('museosans_500-webfont.ttf') format('truetype'),
         url('museosans_500-webfont.svg#museo_sans500') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo_sans500_italic';
    src: url('museosans_500_italic-webfont.eot');
    src: url('museosans_500_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('museosans_500_italic-webfont.woff2') format('woff2'),
         url('museosans_500_italic-webfont.woff') format('woff'),
         url('museosans_500_italic-webfont.ttf') format('truetype'),
         url('museosans_500_italic-webfont.svg#museo_sans500_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo_sans700';
    src: url('museosans_700-webfont.eot');
    src: url('museosans_700-webfont.eot?#iefix') format('embedded-opentype'),
         url('museosans_700-webfont.woff2') format('woff2'),
         url('museosans_700-webfont.woff') format('woff'),
         url('museosans_700-webfont.ttf') format('truetype'),
         url('museosans_700-webfont.svg#museo_sans700') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo_sans700_italic';
    src: url('museosans-700italic-webfont.eot');
    src: url('museosans-700italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('museosans-700italic-webfont.woff2') format('woff2'),
         url('museosans-700italic-webfont.woff') format('woff'),
         url('museosans-700italic-webfont.ttf') format('truetype'),
         url('museosans-700italic-webfont.svg#museo_sans700_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo_sans900';
    src: url('museosans_900-webfont.eot');
    src: url('museosans_900-webfont.eot?#iefix') format('embedded-opentype'),
         url('museosans_900-webfont.woff2') format('woff2'),
         url('museosans_900-webfont.woff') format('woff'),
         url('museosans_900-webfont.ttf') format('truetype'),
         url('museosans_900-webfont.svg#museo_sans900') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo_sans900_italic';
    src: url('museosans-900italic-webfont.eot');
    src: url('museosans-900italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('museosans-900italic-webfont.woff2') format('woff2'),
         url('museosans-900italic-webfont.woff') format('woff'),
         url('museosans-900italic-webfont.ttf') format('truetype'),
         url('museosans-900italic-webfont.svg#museo_sans900_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
